{:port 3000
 ;; Configure with deployed public URL so that OIDC callback can work
 ;; :public-url "http://localhost:3000/"
 :public-url "__PUBLIC_URL__"
 :database-url "postgresql://db:5432/__DB_NAME__?user=__DB_USER__&password=__DB_PASSWORD__"
 :search-index-path "/tmp/rems-search-index"
 :authentication :oidc
 ;; Configure an OpenID Provider
 ;;:oidc-metadata-url "https://login.aai.lifescience-ri.eu/oidc/.well-known/openid-configuration"
 ;;:oidc-metadata-url "https://accounts.google.com/.well-known/openid-configuration"
 :oidc-metadata-url "__OIDC_METADATA_URL__"
 :oidc-client-id "__OIDC_CLIENT_ID__"
 :oidc-client-secret "__OIDC_CLIENT_SECRET__"
 :oidc-scopes "openid profile email"
 :oidc-userid-attributes [{:attribute "sub"}]
 :oidc-name-attributes ["name" "unique_name" "family_name"]
 :oidc-email-attributes ["email"]
 :log-authentication-details true
 :languages [:en]
 :catalogue-is-public true
 :ga4gh-visa-private-key "/rems/keys/private-key.jwk"
 :ga4gh-visa-public-key "/rems/keys/public-key.jwk"
 :enable-permissions-api true
 :enable-pdf-api true
 :enable-catalogue-tree true
 :catalogue-tree-show-matching-parents true
 :enable-autosave true
 :extra-stylesheets {:root "./" :files ["/theme/styles.css"]}
 :theme-path "/rems/theme/theme.edn"
 :extra-pages-path "/rems/extra-pages"}
